# NodeJS
node_modules
coverage

# Editor (only in root)
/.vscode

# System
.DS_Store
.env

**/artifacts
**/scrypt.index.json


templates/dapp/
templates/hello-world/
templates/stateful-counter/
templates/my-lib/