dist: focal
language: node_js

git:
  autocrlf: false


addons:
  apt:
    packages: expect
  homebrew:
    packages: expect


# nodejs:
#   - 16
#   - 18
#   - 20

cache:
  npm: false

jobs:
  include:
    # - # require the branch name to be master (note for PRs this is the base branch name)
      # if: branch = master AND type = push
      # os: 
      #   - osx
      # nodejs:
      #   - 16
    - if: branch = master AND type = push
      os: 
        - osx
      nodejs:
        - 18
      osx_image: xcode10
    - if: branch = master AND type = push
      os: 
        - osx
      nodejs:
        - 20
      osx_image: xcode10
    - if: branch = master AND type = push
      os: 
        - windows
      nodejs:
        - 16
    - if: branch = master AND type = push
      os: 
        - windows
      nodejs:
        - 18
    - if: branch = master AND type = push
      os: 
        - windows
      nodejs:
        - 20
script:
  - npm t
  - npm run test-templates
  - npm run test-lib-import
  - npm run test-all-commands
  # - |
  #   echo "TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST"
  #   echo "TRAVIS_BRANCH=$TRAVIS_BRANCH"
  # - if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
  #     echo "# master"; 
  #     npm t;
  #   else
  #     if [ "$TRAVIS_OS_NAME" == "linux" ]; then
  #       echo "# no master, just run on linux"; 
  #       npm t;
  #     fi
  #   fi
  # - sh tests/test-npx.sh